{% extends 'base.html' %}


{% block page_title %}
  Change {{user.first_name}}'s Password
{% endblock page_title %}
  

{% block content %}
  Change {{user.email}}'s password
  <form method="post">
    {% csrf_token %}
    <label for="current_password">Current Password</label>
    <input type="password" name="current_password" id="current_password" placeholder="Your current password">

    <label for="new_password">New Password</label>
    <input type="password" name="new_password" id="new_password" placeholder="New password">

    <label for="verify_password">Verify Password</label>
    <input type="password" name="verify_password" id="verify_password" placeholder="Verify your new password">
    <button>Change Password</button>
  </form>

  <button>
    <a href="{% url 'users:profile' user.pk %}">Back</a>
  </button>
{% endblock content %}
  