{% extends 'base.html' %}


{% block page_title %}
  {{user_obj.first_name}}'s Profile
{% endblock page_title %}
  

{% block content %}
  <div class="profile">
    <div class="main__info">
      {% if user_obj.avatar %}
        <img src="{{user_obj.avatar.url}}" alt="User avatar", title="User Avatar", width='200px'>
      {% else %}
        <div>{{user_obj.first_name|first}}</div>
      {% endif %}
      
      <span>{{user_obj.first_name}}</span>
      
      {% if user_obj.last_name %}
        <span>{{user_obj.last_name}}</span>
      {% endif %}
        
      {% if user_obj.email %}
        <span>{{user_obj.email}}</span>        
      {% endif %}
        
    </div>
    <div class="extra__info">
      
      {% if user_obj.gender %}
        <span>{{user_obj.gender}}</span>
      {% endif %}
        
      {% if user_obj.language %}
        <span>{{user_obj.language}}</span>
      {% endif %}
        
      {% if user_obj.currency %}
        <span>{{user_obj.currency}}</span>
      {% endif %}
        
      {% if user_obj.birthdate %}
        <span>{{user_obj.birthdate}}</span>          
      {% endif %}

      {% if user_obj.superhost %}
        <span>Superhost</span>
      {% endif %}

      <span>{{user_obj.bio}}</span>
    </div>
    <button>
      <a href="{% url 'users:update-profile' user.pk %}">Edit Profile</a>
    </button>
  </div>
{% endblock content %}
  