{% extends 'base.html' %}


{% block page_title %}
  Edit {{user.first_name}}'s Profile
{% endblock page_title %}
  

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="profile">
      <div class="main__info">
        <div class="avatar">
        
          {% if user.avatar %}
            <img src="{{user.avatar.url}}" alt="User avatar", title="User Avatar", width='200px'>
          {% else %}
            {{user.first_name|first}}
          {% endif %}
          
          
          {% if user.login_method == "email" %}
            <label for="avatar">Avatar</label>
            <input type="file" id="avatar" name="avatar">
          {% endif %}

        </div>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" placeholder="First Name" value="{{user.first_name}}" name="first_name">

        <label for="last_name">Last Name</label>
        <input type="text" id="last_name" placeholder="Last Name" value="{{user.last_name}}" name="last_name">

        <label for="email">Email</label>
        {% if user.login_method == "email" %}
          <input type="text" id="email" placeholder="Email" value="{{user.email}}" name="email">
        {% else %}
          <span>{{user.email}}</span>
        {% endif %}
      </div>
      <div class="extra__info">
        <label for="gender">Gender</label>
        <select name="gender" id="gender">
          {% for key, value in genders %}
            <option value="{{value}}" {% if value == user.gender %}selected{% endif %}>
              {{value}}
            </option>
          {% endfor %}
        </select>

        <label for="language">Language</label>
        <select name="language" id="language">
          {% for key, value in languages %}
            <option value="{{value}}" {% if value == user.language %}selected{% endif %}>
              {{value}}
            </option>
          {% endfor %}
        </select>
        
        <label for="currency">Currency</label>
        <select name="currency" id="currency">
          {% for key, value in currencies %}
            <option value="{{value}}" {% if value == user.currency %}selected{% endif %}>
              {{value}}
            </option>
          {% endfor %}
        </select>

        <label for="birthdate">Birthdate</label>
        <input type="date" id="birthdate" name="birthdate" placeholder="Birthdate" value="{{user.birthdate|date:'Y-m-d'}}" required>

        <label for="bio">Bio</label>
        <textarea id="bio" name="bio">{{user.bio}}
        </textarea>
      </div>
      <button>Edit Profile</button>
    </div>
  </form>
  <button>
    <a href="{% url 'users:profile' user.pk %}">Back</a>
  </button>
{% endblock content %}
  