{% extends 'base.html' %}

{% block page_title %}
  Search
{% endblock page_title %}


{% block search-bar %}{% endblock search-bar %}
  

{% block content %}
  
  <form method="get" action="{% url 'core:search' %}" class="search-from">
    <div class="search-from__country">
      <label for="country">Country</label>
      <select name="country" id="country">
        {% for country in countries %}
          <option value="{{country.code}}" {% if s_country == country.code %} selected {% endif %}>{{country.name}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="search-from__city">
      <label for="city">City</label>
      <input type="text" name="city" value="{{city}}">
    </div>
    
    <div class="search-from__price">
      <label for="price">Price</label>
      <input type="number" name="price" min=0 value={{price}}>
    </div>

    <div class="search-from__guests">
      <label for="guests">Guests</label>
      <input type="number" name="guests" min=0 value={{guests}}>
    </div>

    <div class="search-from__bedrooms">
      <label for="bedrooms">bedrooms</label>
      <input type="number" name="bedrooms" min=0 value={{bedrooms}}>
    </div>

    <div class="search-from__beds">
      <label for="beds">beds</label>
      <input type="number" name="beds" min=0 value={{beds}}>
    </div>

    <div class="search-from__bathrooms">
      <label for="bathrooms">bathrooms</label>
      <input type="number" name="bathrooms" min=0 value={{bathrooms}}>
    </div>
    
    {% comment %} room_type {% endcomment %}
    {% comment %} amenities {% endcomment %}
    {% comment %} facilities {% endcomment %}
    {% comment %} house_rules {% endcomment %}
    {% comment %} instant_book     {% endcomment %}
    <button>Search</button>
  </form>


  {% for room in rooms %}
    <h1>{{room.name}}</h1>
  {% endfor %}
    
{% endblock content %}