<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block page_title %}{% endblock page_title %} | Hair bnb</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
</head>
  <body>
    <header>
        <div>
          <a href="{% url 'core:home' %}">home</a>
          {% block search-bar %}
            <form action="{% url 'core:search' %}">
              <input type="text" placeholder="Searching By City" name="city">
            </form>
          {% endblock search-bar %}
        </div>
      {% include 'partials/nav.html' %}
    </header>

    {% block content %}{% endblock content %}

    {% include 'partials/footer.html' %}

  </body>
</html>